<!-- Footer -->
<footer id="footer" class="contact">
  <div class="container">
    <div class="contact-box">
      <div class="info">
        <div class="box">
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="content">
            <p>Call Us</p>
            <p><a class="light-link" href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="content">
            <p>Email Address</p>
            <p><a class="light-link" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="logo"><a href="/"><img src="/assets/img/civil360-logo-dark-bg-small.png" alt="Civil 360 LLC"></a></div>
          {%- comment -%}<p>Civil 360 LLC is a Women Business Enterprise (WBE){%- endcomment -%}</p> 
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="container">
      <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      Copyright Civil 360 LLC. All rights reserved. Licensed in {% include licensed.html %}
    </div>
  </div>
</footer>