<div id="header-bg-image">
  <!-- Header Logo and Info -->
  <div class="header-default">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="/assets/img/civil360-logo-dark-bg-small.png" alt="Civil 360 LLC"></a>
      </div>

      <div class="info">
        <div class="box">
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="content">
            <p>Call Us</p>
            <p><a class="light-link" href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="content">
            <p>Email Address</p>
            <p><a class="light-link" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  {%- comment -%} <div id="navigation-transparent">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Home</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Home Default</a>
                <a class="dropdown-item" href="index-second-variant.html">Home Hero</a>
                <a class="dropdown-item" href="index-light-navigation.html">Home Light</a>
                <a class="dropdown-item" href="index-transparent-navigation.html">Home Transparent</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">About</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="about.html">About Us</a>
                <a class="dropdown-item" href="team.html">Our Team</a>
                <a class="dropdown-item" href="company-history.html">Company History</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Services</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="services-sidebar.html">Services With Sidebar</a>
                <a class="dropdown-item" href="services-hero.html">Services Grid Hero</a>
                <a class="dropdown-item" href="services-grid-3.html">Services Grid 3</a>
                <a class="dropdown-item" href="services-grid-4.html">Services Grid 4</a>
                <a class="dropdown-item" href="single-services.html">Single Service</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Projects</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="projects-grid-2.html">Projects Grid 2</a>
                <a class="dropdown-item" href="projects-grid-3.html"> Projects Grid 3</a>
                <a class="dropdown-item" href="projects-grid-4.html">Projects Grid 4</a>
                <a class="dropdown-item" href="project-single.html">Single Project</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Pages</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Blog</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="blog.html">Blog</a>
                <a class="dropdown-item" href="blog-single.html">Blog Single</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div> {%- endcomment -%}
  <!-- Intro Transparent -->
  <div id="intro-transparent">
    <div class="container">
      <div class="content">
        <h1>Civil 360 <span class="text-orange">Planning &amp; Engineering</span></h1>
        <p>Integrated Planning &nbsp;//&nbsp; Engineering &nbsp;//&nbsp; Design Services</p>
        {%- comment -%} <div class="buttons">
          <a href="#" class="btn btn-primary">Read More</a>
          <a href="#" class="btn btn-light">Contact Us</a>
        </div> {%- endcomment -%}
      </div>
    </div>

    {%- comment -%} <div class="row m-0">
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Construction</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Renovation</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Renting</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div> {%- endcomment -%}
  </div>
</div>