<div id="header-bg-image">
  <!-- Header Logo and Info -->
  <div class="header-default">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="/assets/img/civil360-logo-dark-bg-small.png" alt="Civil 360 LLC"></a>
      </div>

      <div class="info">
        <div class="box">
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="content">
            <p>Call Us</p>
            <p><a class="light-link" href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="content">
            <p>Email Address</p>
            <p><a class="light-link" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div id="navigation-transparent">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item {%- if page.pagename == 'home2' %} active{% endif %}">
              <a class="nav-link" href="/" role="button" title="Civil 360 Home">Home</a>
            </li>

            <li class="nav-item {%- if page.pagename == 'overview' %} active{% endif %}">
              <a class="nav-link" href="/company-overview.html" title="Company Overview">Company Overview</a>
            </li>
            
            <li class="nav-item {%- if page.pagename == 'services' %} active{% endif %}">
              <a class="nav-link" href="/services.html" title="Civil 360 Services">Services</a>
            </li>


            <li class="nav-item {%- if page.pagename == 'contact' %} active{% endif %}">
              <a class="nav-link" href="/contact.html" title="Contact Civil 360">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  {% if page.pagename == "home" %}
  <!-- Intro Transparent -->
  <div id="intro-transparent">
    <div class="container">
      <div class="content">
        <h1>Civil 360 <span class="text-orange">Planning &amp; Engineering</span></h1>
        <p>Integrated Planning &nbsp;//&nbsp; Engineering &nbsp;//&nbsp; Design Services</p>
        {%- comment -%} <div class="buttons">
          <a href="#" class="btn btn-primary">Read More</a>
          <a href="#" class="btn btn-light">Contact Us</a>
        </div> {%- endcomment -%}
      </div>
    </div>
    {%- comment -%} <div class="row m-0">
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Construction</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Renovation</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 p-0">
        <div class="box">
          <h4>Renting</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div> {%- endcomment -%}
  </div>
 {% else %}
 <!-- Intro Transparent -->
        <div id="intro-transparent">
            <!-- Breadcrumb -->
            <div class="breadcrumbs transparent">
                <div class="container">
                    <nav class="breadcrumb">
                      <a class="breadcrumb-item bold" href="/">Home</a>
                      <a class="breadcrumb-item active bold" href="{{ page.permalink }}">{{ page.bc_display }}</a>
                    </nav>
                </div>
            </div>
        </div> 
{% endif %}
</div>