// Alerts
.alert {
    font-size: .75rem;
    font-weight: 500;
    border-radius: 0;
    
    p {
        margin: 0;
    }
    
    &.alert-info {
        background-color: $blue-hover;
        color: $text-light;
        border-color: $blue-base;
        
        a {
            color: $text-light;
        }
    } 
    
    &.alert-warning {
        background-color: $orange-base;
        color: $text-light;
        border-color: $orange-hover;
        
        a {
            color: $text-light;
        }
    }
    
    &.alert-light {
        background-color: $gray-100;
        border: 0;
        border-left: .25rem solid $orange-base;
    }
}

// Breadcrumbs
.breadcrumbs {
    padding: $section-padding-xs;
    background: $orange-base; /* Old browsers */
    background: -moz-linear-gradient(top,  $orange-base 0%, lighten($orange-base, 8%) 38%,  lighten($orange-base, 8%) 63%, $orange-base 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $orange-base 0%, lighten($orange-base, 8%) 38%, lighten($orange-base, 8%) 63%,$orange-base 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $orange-base 0%, lighten($orange-base, 8%) 38%, lighten($orange-base, 8%) 63%,$orange-base 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange-base', endColorstr='$orange-base',GradientType=0 ); /* IE6-9 */
    color: $text-light;
    
    &.transparent {
        background: transparent !important;
        padding-bottom: 3rem;
        position: relative;
        
        .container {
            display: flex;
            justify-content: center;
        }

        a {
            color: $text-light !important;
            text-decoration: none;
            font-size: 1.5rem !important;
        }

        .active {
            color: $orange-base !important;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            color: $text-light !important;
        }
    }

    .breadcrumb {
        background-color: transparent;
        margin: 0;

        a {
            color: $blue-base;
            text-decoration: none;
            font-size: .875rem;
        }

        .active {
            color: $text-light;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            color: $blue-base;
        }
    }
}