// Main Styles
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .0625rem;
    line-height: 1.65;
    font-variant: small-caps;
    font-size: 1rem;
    font-weight: 300;

    a {
      text-decoration: none;
      color: $text-dark;
    }

    a:hover {
      color: $text-dark;
    }
}