//Navigation
#navigation-transparent {
    .navbar {
        background-color: transparent;
        color: $text-light;
        padding: 0;
        border-top: .0625rem solid rgba($text-light, .3);
        border-bottom: .0625rem solid rgba($text-light, .3);
        
        &.fixed-top {
            background-color: $blue-base;
            border: 0;
        }
    }
        
    .active {
        background-color: rgba($text-light, .05) !important;
    }

    @include mq('md', $type: min) {
        .dropdown {
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }

    .dropdown-menu {
        border-radius: 0;
        margin-top: 0;
        font-size: .625rem;
        text-transform: uppercase;

        .dropdown-item {
            padding: .75rem 1rem;

            &:hover {
                background-color: $blue-hover;
                color: $text-light;
            }
        }
    }
    
    .navbar ul li a.nav-link {
        color: $text-light;
        font-size: .875rem;
        font-weight: 500;
        padding: 1.125rem 1.25rem;
            
        @include transition(.5s ease all);
        
        &:hover {
            background-color: rgba($text-light, .05);
        }
    }
    
    .navbar-toggler {
        border: 0;
        padding: .9375rem;
        cursor: pointer;
        color: $text-light;
        
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}
